lm/xmldiscord/paises.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs= "http://www.w3.org/2001/XMLSchema">
    <xs:element name="paises">
      <xs:complexType>
        <xs:sequence>
         <xs:element name="pais" maxOccurs="unbounded">
            <xs:complextype>
              <xs:sequence>
                <xs:element name="nombre" type="xs:string" maxOccurs="1"/>
                <xs:element name="ciudad" type="xs:string" minOccurs="0" maxOccurs="5"/>
              </xs:sequence>
          <xs:complextype>
         </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>